h1 {
  text-align: center;
  font-family: Comic Sans MS;
  font-size: 60px;
  font-style: bold;
}

.h1-border2 {
  width: 80px;
}

.h1-border {
  background: black;
  /*border-radius: 50%;*/
}

.hor-border {
  width: 5px;
  height: 80px;
}

h2 {
  text-align: center;
  font-family: Comic Sans MS;
  font-size: 40px;
  font-style: bold;
}


